<ion-header>
  <ion-navbar>
    <ion-title>
      Affichage de résultats
    </ion-title>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="query" (ionInput)="onInput()"></ion-searchbar>
</ion-header>

<ion-content >
<ion-list>
  <ion-item *ngIf="!(results | async)?.length">Aucun élément</ion-item>
  <button ion-item *ngFor="let item of results | async" [navPush]="aboutDetails" [navParams]="{currentItem : item}">
    <ion-thumbnail item-start>
      <img [src]="'https://image.tmdb.org/t/p/w92/'+item.poster_path">
    </ion-thumbnail>
    <h2>{{item.title}}</h2>
    <p>{{item.release_date}}</p>
  </button>
</ion-list>
</ion-content>
