<ion-header>
  <ion-navbar>
    <ion-title>
      Affichage de résultats
    </ion-title>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="query" (ionInput)="onInput()"></ion-searchbar>
</ion-header>

<ion-content >
<ion-list>
  <ion-item *ngIf="results | async">Aucun élément</ion-item>
  <button ion-item *ngFor="let item of results" [navPush]="aboutDetails" [navParams]="{currentItem : item}">
    <ion-thumbnail item-start>
      <img [src]="item.image">
    </ion-thumbnail>
    <h2>{{item.title}}</h2>
    <p>{{item.author}} • {{item.date}}</p>
  </button>
</ion-list>
</ion-content>
